<!DOCTYPE html>
<html>
<head>
	<title>Homework 4 - About</title>
	<style>
		body {
			background-color: lightblue;
		}
	</style>
</head>
<body>
	<h1> Welcome to Hersh's Page </h1>
	<div>
		<b>Navigation</b><hr>
		<a href="/">Home</a><br>
		<a href="/about">About</a><br>
		<a href="/contact">Contact</a>
	</div>
	<div id="about">
		<h2>About</h2>
		<p>Hello, my name is Hersh and I am currently enrolled in The New York Code + Design Academey. I am taking the Backend Development and AngularJS courses. I hope to land a developer position upon graduation of both courses.</p>
	</div>
</body>
</html>