<!DOCTYPE html>
<html>
<head>
	<title>Homework 4 - Contact</title>
	<style>
		body {
			background-color: lightblue;
		}
	</style>
</head>
<body>
	<h1> Welcome to Hersh's Page </h1>
	<div>
		<b>Navigation</b><hr>
		<a href="/">Home</a><br>
		<a href="/about">About</a><br>
		<a href="/contact">Contact</a>
	</div>
	<h2>Contact</h2>
	<div id="form">
		<form type="POST" action="thankyou">
			<label>Name: </label>
			<input placeholder="Enter your name" type="text" name="name"><br>
			<label>E-mail: </label>
			<input placeholder="Enter your e-mail" type="text" name="email"><br>
			<label>Message: </label>
			<input placeholder="Enter your message" type="textarea" name="message">
			<input type="submit">
		</form>
	</div>
</body>
</html>