<!DOCTYPE html>
<html>
<head>
	<title>Homework 4</title>
	<style>
		body {
			background-color: lightblue;
		}
	</style>
</head>
<body>
	<h1> Welcome to Hersh's Page </h1>
	<div>
		<b>Navigation</b><hr>
		<a href="/">Home</a><br>
		<a href="/about">About</a><br>
		<a href="/contact">Contact</a>
	</div>
	<div id="home">
		<h2>Home</h2>
		<p>Welcome to my page. Please select one of the links above to get started.</p>
	</div>
</body>
</html>