<!DOCTYPE html>
<html>
<head>
	<title>Homework 4</title>
	<style>
		body {
			background-color: lightblue;
		}
	</style>
</head>
<body>
	<div>
		<p>
			Hello, <%= @user.full_name %>. Your e-mail is <%= @user.email %>s
		</p>
	</div>
</body>
</html>