<!DOCTYPE html>
<html>
<head>
	<title>Homework 4 - Thank You</title>
	<style>
		body {
			background-color: lightblue;
		}
	</style>
</head>
<body>
	<h1> Welcome to Hersh's Page </h1>
	<div>
		<b>Navigation</b><hr>
		<a href="/">Home</a><br>
		<a href="/about">About</a><br>
		<a href="/contact">Contact</a>
	</div>
	<div id="thank you">
	<h2>Thank you!</h2>
	<p><b><%=@name%></b>, your message has been sucessfully sent. I will contact you back via <b><%=@email%></b></p>
	</div>
</body>
</html>